PORT=5001
MONGO_URI=mongodb+srv://yash:laQbjY35KWX51gUx@local-db.seyauls.mongodb.net/diamond_platform
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
FIREBASE_PROJECT_ID=your_firebase_project
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="your_firebase_private_key"
STRIPE_SECRET_KEY=your_stripe_secret_key
NODE_ENV=development
